@font-face {font-family: fa;       src: url(../fonts/fa-solid-900.ttf);}

@font-face {font-family: bold;     src: url(../fonts/open-sans.extrabold.ttf);}
@font-face {font-family: boldItal; src: url(../fonts/open-sans.bold-italic.ttf);}
@font-face {font-family: norm;     src: url(../fonts/open-sans.regular.ttf);}

@font-face {font-family: spec;     src: url(../fonts/FuturaPT-Book.ttf);}
@font-face {font-family: specItal; src: url(../fonts/FuturaPT-BookObl.ttf);}
@font-face {font-family: consola;  src: url(../fonts/consola.ttf);}