* {
	box-sizing       : border-box;
	font-family      : norm;
}

a, a:hover {
	color            : black;
	text-decoration  : none;
}

.clearfix::after {
	content          : "";
	display          : table;
	clear            : both;
}

html {
	font-size        : 10px;
}

body {
	background-image : url('../img/texture.jpg');
	// overflow         : hidden;
}