// ↓↓↓ BEM-blocks: header (start) ↓↓↓
.header
  ul.header__list
    li
      a.header__link(href='#'): img.header__img(src="assets/img/logo.png", alt="logo")
    li
      a.header__link(href='#'): img.header__img(src="assets/img/bell.png" alt="bell")
    li
      a.header__link.header__link_login(href='#') Вийти
//- style
//-   include header.css
//- script
//-   include ../minjs/header/header.js
// ↑↑↑ BEM-blocks: header (end) ↑↑↑