// ↓↓↓ BEM-blocks: header (start) ↓↓↓
.header
  ul.header__list
    li
      a.header__link(href='#'): img(src="assets/img/logo.png", alt="logo")
    li
      a.header__link(href='#') Про нас
    li
      a.header__link(href='#') Новини
//- style
//-   include header.css
//- script
//-   include ../minjs/header/header.js
// ↑↑↑ BEM-blocks: header (end) ↑↑↑